<main>
  <section class="subject-index">
    <h2 class="subject-heading">ITパスポート／企業活動・法務</h2>
    <div class='content'>
      <section class="subject-text">
        <h3>第一問、経営理念とは企業が競争優位性を構築するために活用するために資源であり、一般に人・物・金・情報で分類されるものである</h3>
        <a class="intoroduction">
          正解：×</br>
          経営理念とは、企業が活動する際の指針となる基本的な考え方であり、企業の存在意義や価値観などを示したもの。</br>
          問題文は「経営資源」の説明です。
        </a>
      </section>
    </div>
    <div class='content'>
      <section class="subject-text">
        <h3>第二問、CSRとは、企業活動において経済的成長だけでなく、環境や社会からの要請に対し、責任を果たすことが、企業の向上につながるという考え方である</h3>
        <a class="intoroduction">
          正解：○ </br>
          CSRとは、「Corporate Social Responsibility」企業の社会的責任です。
        </a>
      </section>
    </div>
    <div class='content'>
      <section class="subject-text">
        <h3>第三問、e-ラーニングとは、現在担当している業務の実践を通じて、業務の遂行に必要な技術や知識を習得させる教育訓練の手法である</h3>
        <a class="intoroduction">
          正解：×：</br>
          e-ラーニングとは、PCやインターネットなどのITを使った学種です。</br>
          問題文は、「OJT」の説明です。
        </a>
      </section>
    </div>
    <div class='content'>
      <section class="subject-text">
        <h3>第四問、ROEとは、自己資本に対して、どれだけの絵利益を生み出したかを表す指標のことである</h3>
        <a class="intoroduction">
          正解：○</br>
          ROEは「当期純利益÷自己資本×100」で表されます。
        </a>
      </section>
    </div>
  </section>
</main>