<main>
  <section class="subject-index">
    <h2 class="subject-heading">ITパスポート／企業活動・法務</h2>
    <div class='content'>
        <div class="question-text">
            <div id="question"></div>
        </div>
    </div>
    <div class="answer-box">
        <button type="button" class="button"></button>
        <button type="button" class="button"></button>
    </div>
  </section>
</main>

<script>
    const quiz = [
        {
            question: '第一問、経営理念とは企業が競争優位性を構築するために活用するために資源であり、一般に人・物・金・情報で分類されるものである',
            answers: [
                '◯',
                '×'
            ],
            correct: '×'
        },{
            question: '第二問、CSRとは、企業活動において経済的成長だけでなく、環境や社会からの要請に対し、責任を果たすことが、企業の向上につながるという考え方である',
            answers: [
                '◯',
                '×'
            ],
            correct: '◯'
        },{
            question: '第三問、e-ラーニングとは、現在担当している業務の実践を通じて、業務の遂行に必要なg技術や知識を習得させる教育訓練の手法である',
            answers: [
                '◯',
                '×'
            ],
            correct: '×'
        },{
            question: '第四問、ROEとは、自己資本に対して、どれだけの絵利益を生み出したかを表す指標のことである',
            answers: [
                '◯',
                '×'
            ],
            correct: '◯'
        }
    ];
    const quizLength = quiz.length;
    let quizIndex = 0;
    let score = 0;


    // HTNLの変数は$を頭につける
    const $button = document.getElementsByTagName('button');
    const buttonLength = $button.length;

    // 問題をHTMLに表示
    const setquestion = () => {
        document.getElementById('question').textContent = quiz[quizIndex].question
        let buttonIndex = 0;
        while(buttonIndex < buttonLength){
            $button[buttonIndex].textContent = quiz[quizIndex].answers[buttonIndex];
            buttonIndex++;
        }
    }

    setquestion();


    const clickHandler = (e) => {
        if(quiz[quizIndex].correct === e.target.textContent){
            window.alert('正解');
            score++;
        } else {
            window.alert('不正解');
        }
        quizIndex++;
        if(quizIndex < quizLength){
            // 問題がまだある
            setquestion();
        } else {
            // 問題がもうない
            window.alert('終了。あなたの正解数は' + score + '問です');
            window.open('1com', '_blank');
        }
    }

    let handlerIndex = 0;
    while (handlerIndex < buttonLength){
        $button[handlerIndex].addEventListener('click', (e) => {
            clickHandler(e);
        });
        handlerIndex++;
    }

</script>