<main>
  <section class="subject-index">
    <h2 class="subject-heading">ITパスポート</h2>
    <div class='content'>
      <section class="subject-text">
        <h3>企業活動/法務</h3>
        <a class="intoroduction">企業について必要な知識を学習しましょう。</a>
        <a href="/it_passports/1">問題を解く</a>
      </section>
    </div>
    <div class='content'>
      <section class="subject-text">
        <h3>戦略①</h3>
        <a class="intoroduction">今後追加予定</a>
        <a href="/it_passports/2">問題を解く</a>
      </section>
    </div>
    <div class='content'>
      <section class="subject-text">
        <h3>戦略②</h3>
        <a class="intoroduction">今後追加予定</a>
        <a href="/it_passports/3">問題を解く</a>
      </section>
    </div>
  </section>
</main>