<main>
  <section class="subject-index">
    <h2 class="subject-heading">ITパスポート</h2>
    <div class='content'>
      <section class="subject-text">
        <h3></h3>
        <a class="intoroduction"></a>
        <a>問題を解く</a>
      </section>
    </div>
  </section>
</main>