<main>
  <section class="subject-index">
    <h2 class="subject-heading">項目一覧</h2>
    <div class='content'>
      <section class="subject-text">
        <h3>ITパスポート</h3>
        <a class="intoroduction">IT企業で働くのに必要な知識を学習しましょう。</a>
        <a href="/it_passports">問題を解く</a>
      </section>
    </div>
    <div class='content'>
      <section class="subject-text">
        <h3>サーバー</h3>
        <a class="intoroduction">今後追加予定</a>
        <a></a>
      </section>
    </div>
    <div class='content'>
      <section class="subject-text">
        <h3>ネットワーク</h3>
        <a class="intoroduction">今後追加予定</a>
        <a></a>
      </section>
    </div>
    <div class='content'>
      <section class="subject-text">
        <h3>JavaScript</h3>
        <a class="intoroduction">今後追加予定</a>
        <a></a>
      </section>
    </div>
  </section>
</main>